---
import Navbar from '../astro/components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<header>
		<Navbar />
	</header>
	<main>
		BIENVEIDOS A FLACOW APP
	</main>
</Layout>


